@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --global-font-family: 'Inter', sans-serif;
}

body {
  font-weight: 400;
  line-height: 1.7;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #444;
  border-left: 4px solid #ddd;
  padding-left: 12px;
  margin-top: 30px;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
}

.about-page section {
  margin-bottom: 60px;
}

.about-page h2 {
  margin-top: 60px;   /* 60 */
}

/* .site-title {
  font-weight: 800 !important;
  letter-spacing: 0.5px;
} */

.profile img {
  width: 190px !important;   /* 改成你想要的大小，比如 140px / 150px */
  height: auto;
}

.keywords {
  margin-top: 6px;
}

.keywords span {
  background: #f2f2f2;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  margin-right: 6px;
}

.about-page .publication {
  margin-bottom: 25px;
}

.about-page .abbr {
  display: none !important;
}

.about-page .publication .title {
  font-weight: 600;
}

.about-page .publication .author {
  font-size: 0.95rem;
}

.about-page .publication .periodical {
  font-style: italic;
}

.about-page .keywords {
  display: none !important;
}

.about-page h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #444;
  border-left: 4px solid #ddd;
  padding-left: 12px;
}

.about-page h3 {
  font-weight: 400;
  font-size: 1rem;
  color: #888;
  margin-top: 25px;
  letter-spacing: 1px;
  opacity: 0.9;
}
