@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --global-font-family: 'Inter', sans-serif;
}

body {
  font-weight: 400;
  line-height: 1.7;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.about-page section {
  margin-bottom: 60px;
}

.about-page h2 {
  margin-top: 80px;   /* 数字可以改成 40 / 60 看你喜欢 */
}

/* .site-title {
  font-weight: 800 !important;
  letter-spacing: 0.5px;
} */

.profile img {
  width: 190px !important;   /* 改成你想要的大小，比如 140px / 150px */
  height: auto;
}
